*{
  font-family: monospace, sans-serif, serif;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#wrap{
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

.nav-top{
  width: 100%;
  margin: auto;
  background-color: black;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
#head{
  width: 75%;
  margin: auto;
  display: inline-block;
  padding: 10px;
  background-color: lightblue;
}
#header-img{
  text-align: center;
  width: 125px;
  height: 100px;
}
#nav-bar{
  text-align: center;
  padding: 15px;
  background-color: black;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav-link:link, .nav-link:visited{
  color: white;
  display: inline-block;
  margin: auto;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-link:hover{
  background-color: red;
}

#newsletter{
  width: 75%;
  height: auto;
  margin: auto;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#news-title{
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  width: 75%;
  text-align: center;
  margin: auto;
}
#form{
  text-align: center;
}
#email{
  width: 50%;
  height: 40px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: rgba(25,25,25,.15);
  font-size: 20px;
  font-family: sans-serif;
}
#submit{
  display: block;
  margin: auto;
  width: 20%;
  height: 45px;
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
}
#submit:hover{
  background-color: red;
}

.features{
  display: block;
  text-align: center;
  width: 75%;
  height: auto;
  margin: auto;
  background-color: white;
  margin-bottom: 30px;
  padding: 30px;
}
#f-img{
  text-align: left;
  margin: auto;
  margin: 10px
}
.title, .description{
  text-align: left;
  margin: 0px auto;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(25,25,25,.15);
  line-height: 150%;
  padding: 10px;
}
.title{
  font-size: 25px;
}

#vid{
  text-align: center;
  width: 75%;
  height: auto;
  margin: auto;
  background-color: white;
  padding: 30px;
}

#price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: white;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px
  padding: 10px;
  border: 2px solid black;
  background-color: rgba(243, 83, 83, 1);
}
#title-a{
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 5px solid black;
}
#pricing{
  font-size: 30px;
  margin: 10px auto;
}
#plan{
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  text-indent:
}
.select{
  width: 50%;
  height: 25px;
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  margin: 10px 10px 10px 10px;
  font-size: 15px;
}
.select:hover{
  background-color: lightblue;
  color: black;
}

#foot{
  text-align: center;
}
